# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.npy
*.pth

# Cython build
*.c
*.cpp
*.pyd
*.pyx
*.pyo

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# VS Code
.vscode/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Event log files (optional, remove this if you want to keep them in Git)
events.out.tfevents.*

# Compiled Cython files
*.cpython-*.pyc
*.cython-*

# IDEs and editors
.idea/
*.sublime-project
*.sublime-workspace

# Mac / Linux
.DS_Store
*.swp

# folders
exp*/

#virtual environments
*env/